{% extends 'base.html.twig' %}

{% block title %}Réglement{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col m6 push-m3 s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center primary-color">Réglement</span>
                        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eius esse inventore
                            magnam. Ab atque doloremque doloribus excepturi hic, iste laudantium, molestiae nulla omnis
                            quos reiciendis tempore ut vel vitae!
                        </div>
                        <div>Accusantium adipisci asperiores atque autem consectetur cumque delectus dolorum ducimus
                            eos, facilis fuga fugiat iure labore minus molestias nulla odit omnis porro praesentium
                            quis, repellat suscipit tenetur ullam ut voluptatum.
                        </div>
                        <div>Alias autem dolorum eveniet, expedita explicabo itaque laborum nihil odio? Culpa dolore
                            doloribus ducimus id modi, mollitia nihil officia quis quisquam sunt tempore, ullam vitae?
                            Dolore explicabo incidunt magni placeat?
                        </div>
                        <div>Aliquid aspernatur delectus dolore inventore ut. Eaque explicabo laudantium magnam nihil
                            tempore. Ad architecto aspernatur dignissimos dolorum ex fugit ipsa mollitia obcaecati, quam
                            qui quo repudiandae sequi soluta. Harum, magni?
                        </div>
                        <div>At, consectetur, delectus dicta doloremque dolorum eligendi eos facilis fugiat impedit
                            inventore ipsam, iusto magnam non numquam quae quaerat quisquam recusandae tempore totam ut.
                            Asperiores cumque dolores laboriosam non veniam!
                        </div>
                        <div>Alias beatae, delectus dolorem exercitationem fugit illum iusto nemo nihil quam quisquam
                            rem tenetur veniam? Consequatur, dolor est excepturi fugiat ipsam itaque mollitia placeat
                            porro quas rerum! Alias iusto, quasi.
                        </div>
                        <div>Animi asperiores assumenda consequuntur cum delectus dolor enim fugiat id iste iure iusto
                            laborum maiores maxime odio perferendis provident quasi quo quos, sint sit sunt suscipit
                            velit vero voluptates voluptatum!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
