{% extends 'base.html.twig' %}

{% block title %}Réglement{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <style>
        /* Font Definitions */
        @font-face {
            font-family: "Cambria Math";
            panose-1: 2 4 5 3 5 4 6 3 2 4;
        }

        @font-face {
            font-family: Georgia;
            panose-1: 2 4 5 2 5 4 5 2 3 3;
        }

        /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            margin: 0in;
            margin-bottom: .0001pt;
            font-size: 11.0pt;
            font-family: "Arial", sans-serif;
        }

        h1 {
            margin: 0in;
            margin-bottom: .0001pt;
            font-size: 24.0pt;
            font-family: "Arial", sans-serif;
            color: black;
        }

        h2 {
            margin: 0in;
            margin-bottom: .0001pt;
            font-size: 18.0pt;
            font-family: "Arial", sans-serif;
            color: black;
        }

        h3 {
            margin: 0in;
            margin-bottom: .0001pt;
            font-size: 14.0pt;
            font-family: "Arial", sans-serif;
            color: black;
        }

        h4 {
            margin: 0in;
            margin-bottom: .0001pt;
            font-size: 12.0pt;
            font-family: "Arial", sans-serif;
            color: black;
        }

        h5 {
            margin: 0in;
            margin-bottom: .0001pt;
            font-size: 9.0pt;
            font-family: "Arial", sans-serif;
            color: black;
        }

        h6 {
            margin-top: .25in;
            margin-right: 0in;
            margin-bottom: .25in;
            margin-left: 0in;
            font-size: 8.0pt;
            font-family: "Arial", sans-serif;
            color: black;
        }

        p.MsoTitle, li.MsoTitle, div.MsoTitle {
            margin-top: 24.0pt;
            margin-right: 0in;
            margin-bottom: 6.0pt;
            margin-left: 0in;
            page-break-after: avoid;
            font-size: 36.0pt;
            font-family: "Arial", sans-serif;
            font-weight: bold;
        }

        p.MsoSubtitle, li.MsoSubtitle, div.MsoSubtitle {
            margin-top: .25in;
            margin-right: 0in;
            margin-bottom: 4.0pt;
            margin-left: 0in;
            page-break-after: avoid;
            font-size: 24.0pt;
            font-family: Georgia;
            color: #666666;
            font-style: italic;
        }

        a:link, span.MsoHyperlink {
            color: blue;
            text-decoration: underline;
        }

        a:visited, span.MsoHyperlinkFollowed {
            color: purple;
            text-decoration: underline;
        }

        .MsoChpDefault {
            font-family: "Arial", sans-serif;
        }

        @page WordSection1 {
            size: 8.5in 11.0in;
            margin: 50.0pt 40.0pt 50.0pt 40.0pt;
        }

        div.WordSection1 {
            page: WordSection1;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col m6 push-m3 s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title center primary-color">Réglement</span>

                        <div class=WordSection1>

                            <h1 align=center style='margin-top:14.0pt;text-align:center'><span lang=FR
                                                                                               style='font-size:16.0pt'>Conditions générales d'utilisation</span>
                            </h1>

                            <p class=MsoNormal align=center style='margin-top:10.0pt;text-align:center;
border:none'><span lang=FR style='font-size:10.0pt'>&nbsp;</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Les présentes conditions générales d'utilisation
(dites « CGU ») ont pour objet l'encadrement juridique des modalités de mise à
disposition du site et des services par et de définir les conditions d’accès et
d’utilisation des services par « l'Utilisateur ».</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Les présentes CGU sont accessibles sur le site à la
rubrique «CGU».</span></p>

                            <h1 style='margin-top:14.0pt'><span lang=FR style='font-size:16.0pt'>ARTICLE
1&nbsp;: Accès au site</span></h1>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Le site est accessible gratuitement en tout lieu à
tout Utilisateur ayant un accès à Internet. Tous les frais supportés par
l'Utilisateur pour accéder au service (matériel informatique, logiciels,
connexion Internet, etc.) sont à sa charge.</span></p>

                            <h1 style='margin-top:14.0pt'><span lang=FR style='font-size:16.0pt'>ARTICLE 2
: Collecte des données</span></h1>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Le site assure à l'Utilisateur une collecte et un
traitement d'informations personnelles dans le respect de la vie privée
conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux
fichiers et aux libertés. </span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>En vertu de la loi Informatique et Libertés, en date
du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification,
de suppression et d'opposition de ses données personnelles. L'Utilisateur
exerce ce droit :</span></p>

                            <h1 style='margin-top:14.0pt'><span lang=FR style='font-size:16.0pt'>ARTICLE
3&nbsp;: Propriété intellectuelle</span></h1>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Les marques, logos, signes ainsi que tous les contenus
du site (textes, images, son…) font l'objet d'une protection par le Code de la
propriété intellectuelle et plus particulièrement par le droit d'auteur.</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>L'Utilisateur doit solliciter l'autorisation préalable
du site pour toute reproduction, publication, copie des différents contenus. Il
s'engage à une utilisation des contenus du site dans un cadre strictement
privé, toute utilisation à des fins commerciales et publicitaires est
strictement interdite.</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Toute représentation totale ou partielle de ce site
par quelque procédé que ce soit, sans l’autorisation expresse de l’exploitant
du site Internet constituerait une contrefaçon sanctionnée par l’article L
335-2 et suivants du Code de la propriété intellectuelle.</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Il est rappelé conformément à l’article L122-5 du Code
de propriété intellectuelle que l’Utilisateur qui reproduit, copie ou publie le
contenu protégé doit citer l’auteur et sa source.</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;margin-right:0in;margin-bottom:
0in;margin-left:28.3pt;margin-bottom:.0001pt;border:none'><span lang=FR
                                                                style='font-size:10.0pt'>&nbsp;</span></p>

                            <h1 style='margin-top:14.0pt'><span lang=FR style='font-size:16.0pt'>ARTICLE
4&nbsp;: Responsabilité</span></h1>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Les sources des informations diffusées sur le site
sont réputées fiables mais le site ne garantit pas qu’il soit exempt de
défauts, d’erreurs ou d’omissions.</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Les informations communiquées sont présentées à titre
indicatif et général sans valeur contractuelle. Malgré des mises à jour
régulières, le site <i>envirias.com&nbsp;</i>ne peut être tenu responsable de
la modification des dispositions administratives et juridiques survenant après
la publication. De même, le site ne peut être tenue responsable de
l’utilisation et de l’interprétation de l’information contenue dans ce site.</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>La responsabilité du site ne peut être engagée en cas
de force majeure ou du fait imprévisible et insurmontable d'un tiers.</span></p>

                            <h1 style='margin-top:14.0pt'><span lang=FR style='font-size:16.0pt'>ARTICLE
5&nbsp;: Liens hypertextes</span></h1>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Des liens hypertextes peuvent être présents sur le
site. L’Utilisateur est informé qu’en cliquant sur ces liens, il sortira du
site <i>envirias.com.</i> Ce dernier n’a pas de contrôle sur les pages web sur
lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable
de leur contenu.</span></p>

                            <h1 style='margin-top:14.0pt'><span lang=FR style='font-size:16.0pt'>ARTICLE
6&nbsp;: Publication par l’Utilisateur</span></h1>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Le site permet aux membres de publier des images et du
texte.</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Dans ses publications, le membre s’engage à respecter
les règles de la Netiquette (règles de bonne conduite de l’internet) et les
règles de droit en vigueur.</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Le site peut exercer une modération sur les publications
et se réserve le droit de refuser leur mise en ligne, sans avoir à s’en
justifier auprès du membre.</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Le membre reste titulaire de l’intégralité de ses
droits de propriété intellectuelle. Mais en publiant une publication sur le
site, il cède à la société éditrice le droit non exclusif et gratuit de
représenter, reproduire, adapter, modifier, diffuser et distribuer sa
publication, directement ou par un tiers autorisé, dans le monde entier, sur
tout support (numérique ou physique), pour la durée de la propriété
intellectuelle. Le Membre cède notamment le droit d'utiliser sa publication sur
internet et sur les réseaux de téléphonie mobile.</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>La société éditrice s'engage à faire figurer le nom du
membre à proximité de chaque utilisation de sa publication.</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Tout contenu mis en ligne par l'Utilisateur est de sa
seule responsabilité. L'Utilisateur s'engage à ne pas mettre en ligne de
contenus pouvant porter atteinte aux intérêts de tierces personnes. Tout
recours en justice engagé par un tiers lésé contre le site sera pris en charge
par l'Utilisateur.</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Le contenu de l'Utilisateur peut être à tout moment et
pour n'importe quelle raison supprimé ou modifié par le site, sans préavis.</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>&nbsp;</span>
                            </p>

                            <h1 style='margin-top:14.0pt'><span lang=FR style='font-size:16.0pt'>ARTICLE 7<i>&nbsp;</i>:
Droit applicable et juridiction compétente</span></h1>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>La législation française s'applique au présent
contrat. En cas d'absence de résolution amiable d'un litige né entre les
parties, les tribunaux français seront seuls compétents pour en connaître.</span></p>

                            <p class=MsoNormal style='margin-top:10.0pt;border:none'><span lang=FR
                                                                                           style='font-size:10.0pt'>Pour toute question relative à l’application des
présentes CGU, vous pouvez joindre l’éditeur aux coordonnées inscrites à
l’ARTICLE 1.</span></p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
