<footer class="page-footer green">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Envirias</h5>
                <p class="grey-text text-lighten-4">Nous sommes un petit collectif composé de 3 jeunes dynamiques, motivés et engagés
                    pour préserver le monde qui nous entoure. Developpeur, influenceur, manager, graphiste nous
                    avons décidé d'unir notre créativité pour mener à bien ce projet.</p>

            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Liens</h5>
                <ul>
                    <li><a class="white-text" href="mailto:contact@envirias.com">Nous Contacter</a></li>
                    <li><a class="white-text" href="{{ path('homepage', {'_fragment': 'about'}) }}">A Propos</a></li>
                    <li><a class="white-text" href="{{ path('rules') }}">Règlement</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Réseaux Sociaux</h5>
                <ul>
                    <li><a class="white-text" target="_blank" href="https://twitter.com/Envirias">Twitter</a></li>
                    <li><a class="white-text" target="_blank" href="https://www.instagram.com/Envirias/">Instagram</a></li>
                    <li><a class="white-text" target="_blank" href="https://www.facebook.com/envirias/">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Développé par <a href="https://twitter.com/Tchekda" class="brown-text">Tchekda</a>. Communication et management par
            <a href="https://twitter.com/Tdeveloppe" class="brown-text">Téo T</a> et <a
                    href="https://twitter.com/theolvs__" class="brown-text">Théo</a>
        </div>
    </div>
</footer>
